#Lab{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 1rem;
    padding: 1rem;
}
.LabItem{
    width: 40%;
    margin: 1rem;
    padding: 2rem;
    background-color: darkblue;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 1rem;
    cursor: pointer;
}
.LabItem a{
    text-decoration: none;
    color: white;
    margin: 2rem;
}
#LabHeader{
    text-align: center;
    font-size: 3rem;
}