@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');

.classif-buttons{
    width: 80vw;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.team-button{
    background-color: #393940;
    border: 2px solid #3DC4D4;
    color: white;
    font-size: 1.3rem;
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    min-width: 15rem;
    cursor: pointer;
}

.active{
    background-color: #3DC4D4;
    color: #000;
}

.team_name{
    font-size: 2rem;
}
.aboutteam{ 
    width: 80vw;
    margin: 2rem auto;
}

.teamcontent{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.team_content{
    width: 55vw;
    font-size: 1.5rem;
    margin: 3rem 0;
}
.team_image{
    width: 20rem;
}
.teammembers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80vw;
    margin: 3rem auto;
    flex-wrap: wrap;
    gap: 30px;
}

.member img{
    object-fit: cover;
    width: 200px;
    margin-top: 1rem;
}



