body{
    background-color: black;
}

#LabTheory{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
}
.LabTheoryItems{
    width: 40%;
    background-color: blanchedalmond;
    color: black;
    margin: 8rem 1rem;
    padding: 1rem;
    border-radius: 1.3rem;

}
.LabTheoryTexts{
    font-size: 1.1rem;
    font-weight: 600;
    margin: 1rem;
    padding: 1rem;
}
.LabTheoryBtns{
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
    margin: auto;
    margin: 1rem;
    padding: 1rem;
    color: black;
    background-color: blue;
    border-radius: 1rem;
    color: white;
}
a{
    text-decoration: none;
    color: white;
    margin: 2rem;

}
.LabTheoryHeads{
    margin: 1rem;
    padding: 1rem;
}