.labCard {
  text-decoration: none;
  color: black;
}

.cardDiv {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

.text {
  margin: 0;
}

.index {
  font-weight: bold;
}
