@import url("https://fonts.googleapis.com/css2?family=Poppins");

.article-content {
  display: flex;
  flex-direction: column;
}

.article-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 70px;
  margin-left: 2.5vw;
  line-height: 120px;
  /* margin-bottom: 20px; */
  display: flex;
  align-items: center;
  letter-spacing: 0.1rem;

  background: linear-gradient(
    298.19deg,
    #11e3fb 30.71%,
    #b5f6fd 46.29%,
    #5be6ff 75.32%,
    #11e3fb 97.09%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.read-now {
  font-size: 27px;
  color: #ffffff;
  margin: 20px 2.5vw 40px 2.5vw;
  padding: 15px 2px;
  border-top: 2px solid #58e6ff;
  border-bottom: 2px solid #58e6ff;
}

.articles-container {
  display: flex;
  gap: 2vw;
  width: 95vw;
  align-self: center;
  justify-self: center;
  justify-content: center;
}

.big-card {
  width: min(25vw, 420px);
  height: 475px;
  border: none;
  border-radius: 10px;
  padding: 2px 12px 0px;
}

.big-card .article-card {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px 12px;
  border-radius: 10px;
}

.big-card .article-card img {
  width: 100%;
  height: 45%;
  align-self: center;
  position: relative;
  margin: 0 0 18px;
}

.big-card .article-card h1 {
  font-size: 22px;
  line-height: normal;
  width: 100%;
  position: absolute;
  top: 260px;
  padding-right: 30px;
}

.big-card .article-card h3 {
  font-size: 17px;
  position: absolute;
  top: 230px;
}

.small-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: min(70vw, 1250px);
  max-height: 480px;
  overflow-y: auto;
  border-radius: 10px;
  padding: 3px 1px 6px;
  justify-content: center;
  margin-bottom: 40px;
}

.article-card {
  display: flex;
  width: min(31vw, 550px);
  height: 140px;
  position: relative;
  box-shadow: 0px 3px 10px #3dc4d4;
  border-radius: 10px;
  border: 4px solid transparent;
}

.article-card img {
  margin-left: 2%;
  width: 150px;
  height: 80%;
  align-self: center;
  position: relative;
}

.article-details {
  width: 65%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.article-card h1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 28px;
  color: #ffffff;
  position: absolute;
  top: 40px;
  padding-right: 15px;
}

.article-card h3 {
  color: rgb(17, 227, 251);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #11e3fb;
  position: absolute;
  top: 15px;
}

.article-card:hover {
  background: #39394080;
  border: 4px solid #3dc4d4;
  transition: 0.15s;
}

.article-card h1,
h3 {
  z-index: 10;
}
/* .article-card:hover h3 {
  color: black;
  font-weight: 900;
} */

.article-card:hover h1 {
  font-weight: 900;
}

.article-card {
  overflow: hidden;
}

@media screen and (max-width: 1300px) {
  .small-cards .article-card {
    width: 50vw;
  }
  .big-card {
    /* width: 40vw; */
    max-width: 360px;
    min-width: 330px;
  }
  .article-card h3 {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .big-card .article-card{
    max-width: 330px;
  }
  .articles-container {
    gap: 2vw;
  }
}

@media screen and (max-width: 800px) {
  .articles-container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .small-cards {
    max-height: none;
  }
  .small-cards .article-card {
    width: 100%;
  }

  .small-cards {
    width: 30rem;
  }

  .big-card {
    width: 20.5rem;
  }
  .big-card .article-card{
    height: 420px;
  }
}

@media screen and (max-width: 550px){
  .big-card{
    width: 19rem;
    height: 385px;
    display: flex;
    justify-content: center;
  }
  .big-card .article-card{
    width: 17.5rem;
    height: 380px;
  }
  .big-card .article-card h1{
    font-size: 19px;
    top: 230px;
  }
  .big-card .article-card h3{
    font-size: 13px;
    top: 200px;
  }
  .big-card .article-card img{
    height: 50%;
  }
  .small-cards .article-card{
    margin: 0 35px;
  }
  .small-cards .article-card h1{
    font-size: 15px;
  }
  .small-cards .article-card h3{
    font-size: 12px;
  }
}

@media screen and (max-width: 550px){
  .article-heading{
    font-size: 50px;
    line-height: 100px;
  }
  .read-now{
    font-size: 22px;
  }
  .articles-container{
    overflow-x: hidden;
  }
  .small-cards .article-card{
    margin: 0 40px;
  }
}
