@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
}

.parallax-effect-glare-scale{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 325px;
    border-radius: 10px;
    border: 4px solid #3DC4D4;
    background-color: #393940;
    transform-style: preserve-3d;
}

.parallax-effect-glare-scale:hover{
    box-shadow: 0px 0px 5px #3DC4D4;
}

.parallax-effect-glare-scale:hover .founder{
    transform: translateZ(20px);
}

.founders{
    width: 50vw;
    display: flex;
    margin: 2vw auto;
    justify-content: space-between;
}

.heads{
    width: 70vw;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    margin: 2vw auto;
    gap: 50px;
}
.founder,.member{
    width: 250px;
    /* height: 325px;
    background-color: #393940; */
    padding: 10px 20px; 
}

.photo-image img{
    max-width: 200px;
    height: 250px;
}

.photo-details{
    opacity: 0;
}

.photo-details{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.photo-details a{
    color: #3DC4D4;
    font-size: 20px;
}

.founder:hover .photo-details,.member:hover .photo-details{
    opacity: 1;
}

.photo-name{
    color: #fff;
    font-size: 0.8vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}