@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i');

.members{
    margin: 0 0 1rem 0;
}

.members_title{
    font-family: Montserrat;
    font-size: 2rem;
    color: #3DC4D4;
}

.founders,.heads{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.founders{
    width: 60vw;
    margin: 2rem auto;
}

.heads{
    width: 80vw;
    margin: 3rem auto;
}

.parallax-effect-glare-scale{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 325px; */
    padding: 10px 10px;
    border-radius: 10px;
    margin: 0.75rem;
    border: 4px solid #3DC4D4;
    background-color: #393940;
    transform-style: preserve-3d;
}

.parallax-effect-glare-scale:hover{
    box-shadow: 0px 0px 5px #3DC4D4;
}

.parallax-effect-glare-scale:hover .founder,.parallax-effect-glare-scale:hover .member{
    transform: translateZ(20px);
}

.founder,.member{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.photo-image img{
    object-fit: cover;
    max-width: 200px;
    height: 250px;
}
 
.photo-details{
    opacity: 0;
}

.photo-details{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.photo-details a{
    color: #3DC4D4;
    font-size: 20px;
}

.founder:hover .photo-details,.member:hover .photo-details{
    opacity: 1;
}

.photo-name{
    color: #fff;
    font-size: 1.25rem;
    font-family: Montserrat;
}

.photo-role{
    color: #3DC4D4;
    font-size: 1.25rem;
    margin: 4px 0 8px;
    font-family: Montserrat;
}
