#footer {
    background: linear-gradient(0deg, #01011b, #0f142c, #1b2040, #272c54, #343969, #43467e, #515494, #6162ab);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px 8px 0px 0px;
    margin-top: 2rem;
}
.footerItems {
    
    padding: 1rem;
    margin: 1rem;
}
.footerItemElement {
    margin: 1rem;
    padding: 1rem;
}
#KiKLogo {
    width: 50px;
}
.KiKName {
    margin: 0px;
}
.iconsContainer{
    margin: 2rem 0rem;
}
.iconsContainer a{
    margin: 1rem 1rem 1rem 0rem;
}
ion-icon {
    color: white;
  }
.KiKDescription{
    margin-top: 1rem;
}
.KiKName{
    margin-top: 0.5rem;
}
#footerItemElement1{
    font-weight: bold;
    font-size: 1.1rem;
}